<div #story class="story">
  <article class="chapter">
    <h1>Chapter 1</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus temporibus
      possimus vero enim, consectetur aliquid praesentium explicabo officia
      totam id.
    </p>
    <p>
      Accusamus amet soluta voluptatem explicabo totam repellendus voluptas
      quaerat vel veniam doloribus, nam qui quibusdam reiciendis perspiciatis
      rerum. Magni, tempora.
    </p>
    <p>
      Debitis consequatur unde quaerat vel architecto, suscipit sit eaque
      molestias. Nesciunt distinctio quasi porro ipsum non omnis iusto adipisci
      debitis!
    </p>
  </article>

  <article  class="chapter">
    <h1>Chapter 2</h1>
    <p>
      Debitis consequatur unde quaerat vel architecto, suscipit sit eaque
      molestias. Nesciunt distinctio quasi porro ipsum non omnis iusto adipisci
      debitis!
    </p>
    <p>
      In aperiam quas quibusdam esse neque vero sunt! Assumenda repellat quasi
      harum eaque reprehenderit commodi natus sed explicabo adipisci iusto.
    </p>
    <p>
      Libero, fugiat optio. Mollitia sunt temporibus, quisquam natus repellat
      voluptates, perspiciatis animi dolore, tempora nesciunt harum quibusdam.
      Reiciendis, cum enim.
    </p>
  </article>
</div>
