@import "colors.scss";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-size: var(--font-size-text);
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-normal);
    background-color: $bg-color;
}

h1 {
    font-size: var(--font-size-title);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}