:root {
    /**
    * Font families
    */
    --font-family-text: 'Poppins', sans-serif;

    /**
    * Font weight
    */
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /**
    * Font size
    */
    --font-size-title: 5rem;
    --font-size-text: 1.4rem;

    /**
    * Elements Size
    */
    --navbar-height: 6rem;
    --main-padding-top: 2rem;
}